.message{
    color:rgb(220, 5, 5)
}
.form_password{
    width: 62%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.form_field{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.label{
    margin-bottom: 4px;
    font-size: 0.9em;
}
.input{
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(129, 128, 128);
    height: 22px;
}
hr{
    margin: 12px auto;
}
.button{
    position: absolute;
    right: 0;
    padding: 12px;
    background-color:  rgb(37, 37, 200);
    color: white;
    border-radius: 10px;
    border: none;
}