.image_profil,.image_profil form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image_profil{
    margin: 50px auto;
}
.image_profil img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.image_profil div{
    margin: 20px auto;
}
.form-control[type="file"] {display: none;} /* Supprime l'élément permettant de faire le choix
    de l'image par défaut*/

.custom-file-upload, .image_profil form button{
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px auto;
}/* custom-file-upload, le label pour permettre le choix de l'image*/

.custom-file-upload{
    padding: 6px 12px;
    background-color: #f8f9fa;
}
.image_profil form button{
    color: white;
    padding: 7px 14px;
    background-color: rgb(37, 37, 200);
    width: 153px;
}