{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "blogApp/css/base.css" %}">
        {% block extra_css %}{%endblock%}
    </head>
    <body>
        <header>            
            <nav class="nav_bar" style="">
                <a class="logo" href="{% url 'blogApp:accueil' %}">
                    <img src="{% static 'blogApp/image/logo.png' %}" alt="logo"> 
                </a>
                <form>
                    {% csrf_token %}
                    <input type="search" placeholder="Rechercher un article" name="recherche" class="search">
                    <button type="submit" class="button_search">
                        Search
                    </button>
                </form>               
                
                <div class"profil" style="width:22%;">
                    {% if user.is_authentificated %}
                        <a class="profil" href="{% url 'blogApp:accueil' %}">
                            <img src="{% static 'blogApp/image/profil.png' %}" alt="profil"> 
                        </a>
                        <div class="drop_down">
                            <ul>
                                <li><a href="#">Mon compte</a></li>
                                <li class="admin_gestion"><a href="{% url 'blogApp:list-article-admin' %}">Gestion des article</a></li>
                                <li><a href="{% url 'user:logout-user' %}">Deconnexion</a></li>
                            </ul>                          
                        </div>
                    {%else%}
                        <ul class="nav_links">
                            <li><a href="{% url 'user:login-user' %}">Connexion</a></li>
                            <li><a href="{% url 'user:register-user' %}">Inscription</a></li>
                        </ul>
                    {% endif %}
                    
                </div>                
            </nav>
        </header>
        <div></div>
        {% block content %}
        
        {% endblock  %}
    </body>
</html>