{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "blogApp/base.css" %}">
        {% block extra_css %}{%endblock%}

    </head>
    <body>
        <header>
            <a class="logo" href="{% url 'accueil' %}">
                <img  src="{% static 'blogApp/image/logo.png' %}" alt="logo"> 
            </a>
            <nav class="nav_bar">
                <div>

                </div>
                <ul class="nav_links">
                    <li>
                        <a href="#">Connexion</a>
                    </li>
                    <li>
                        <a href="#">Inscription</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}
        
        {% endblock  %}
    </body>
</html>