{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "blogApp/css/base.css" %}">
        {% block extra_css %}{%endblock%}
    </head>
    <body>
        <header>
            <a class="logo" href="{% url 'blogApp:accueil' %}">
                <img src="{% static 'blogApp/image/logo.png' %}" alt="logo"> 
            </a>
            <nav class="nav_bar">
                <div class="recherche">
                    f
                </div>

                {% if user.is_authenticated %}
                    <ul class="nav_links">
                        <li>
                            <a href="{% url 'user:logout-user' %}">Deconnexion</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav_links">
                        <li>
                            <a href="{% url 'user:login-user' %}">Connexion</a>
                        </li>
                        <li>
                            <a href="{% url 'user:register-user' %}">Inscription <img class="arrow" src="{% static "blogApp/image/arrow.svg"%}"></a>
                        </li>
                    </ul>
                {% endif %}
                
            </nav>
        </header>

        {% block content %}
        
        {% endblock  %}
    </body>
</html>