{% extends "blogApp/base.html" %}

{% load static %}
{% block extra_css %}
    <link  rel="stylesheet" href="{% static 'blogApp/css/list_article.css' %}">
{% endblock  %}

{%block content%}
    <div class='list_article'>
        {%for article in articles%}
            <div class='article'>
                <div class='image'>
                    {% if article.image %}
                        <img src={{ article.image.url }} alt='Photo'>
                    {% endif %}
                </div>                
                <div class='info_article'>                    
                    <h3 class='categorie'> <a href="{% url 'blogApp:categorie' article.categorie %}">{{article.categorie}}</a> </h3>
                    <h2>{{article.title}}</h2>
                    {% if article.etiquette.all %}
                        <div>
                            {% for etiquet in article.etiquette.all %}
                                <span class='etiquette'><a href="{% url 'blogApp:list-articles-same-etiquette' etiquet.name %}">{{etiquet.name}}</a></span>
                            {% endfor %}                                                                
                        </div>
                    {%endif%}
                    <p>{{article.description | truncatewords:50}}</p> 
                    <!--
                    truncatewords : Permet d'afficher un nombre de mot donné
                    truncatechars : Permet d'afficher un nombre de caractère donné                    
                    -->
                    
                    <div class='article_lire_plus'>
                        <a href="{% url 'blogApp:detail-article' article.id %}">Lire Plus</a>
                    </div>
                </div>                
            </div>
        {%endfor%} 
    </div>         
{% endblock %}