{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'user/base_user.css' %}">
        {% block extra_css %}{% endblock  %}
    </head>
    <body>
        {%block content%}

        {%endblock%}
        
    </body>
</html>