{% extends "base_user.html" %}

{%load static%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "user/css/login.css" %}">
{% endblock  %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p class="message"> {{message}} </p>
        {% endfor %}
    {% endif %}
    <div class="form_style">
        <div class="form_style2">
            <a class="logo" href="{% url 'blogApp:accueil' %}">
                <img src="{% static 'blogApp/image/logo.png' %}" alt="logo"> 
            </a>
            <div class="form_card">
                <h2> Connexion </h2>
                <form action="" method="post">
                    {%csrf_token%}
                    <div class="form_field">
                        {{form.username.label_tag}}
                        {{form.username}}
                    </div>
                    <div class="form_field">
                        {{form.password.label_tag}}
                        {{form.password}}
                    </div>   
                    <button type="submit">Se connecter</button>
                </form>
            </div> 
            <p> <a href="{% url 'user:password_reset' %}">Mot de passe oublié ?</a></p>
        </div>
        
    </div> 

    <div></div>
    
{% endblock  %}