{% extends "blogApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "user/css/password_reset_user.css" %}">
{% endblock  %}

{% block content %}  
        {% if messages %}
            {% for message in messages %}
                <p class="message"> {{message}} </p>
            {% endfor %}
        {% endif %}

    <div class="form_password">   
        <h3>Mot de passe</h3>
        <p>Vous pouvez modifier votre mot de passe pour vos futures connexion</p>
    
        <form method='post'>
            {% csrf_token %}
            <div class="form_field">     
                <label class="label">Mot de passe actuel</label>
                <input type='password' name="password_current" class="input" required>
    
                <label class="label">Nouveau mot de passe</label>
                <input type='password' name="password1" class="input" required>
                <div id="info_error"> </div>
    
                <label class="label">Confirmation du nouveau mot de passe</label>
                <input type='password' name="password2" class="input" required>  
        
            </div>
            <hr>
            <input type="submit" value="Modifier" class="button">
        </form>
    </div>
    <div></div>

    <script src={% static "user/js/password_reset_user.js" %} defer ></script>

{% endblock  %}