{% extends "blogApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "user/password_reset_user.css" %}">
{% endblock  %}
{% block content %}  

    <div class="form_password">   
        <h3>Mot de passe</h3>
        <p>Vous pouvez modifier votre mot de passe pour vos futures connexion</p>
    
        <form method='post'>
            {% csrf_token %}
            <div class="form_field">     
                <label class="label">Mot de passe actuel</label>
                <input type='password' class="input">
    
                <label class="label">Nouveau mot de passe</label>
                <input type='password' class="input">
    
                <label class="label">Confirmation du nouveau mot de passe</label>
                <input type='password' class="input">  
        
            </div>
            <hr>
            <input type="submit" value="Modifier" class="button">
        </form>

    </div>
    <div></div>

{% endblock  %}