{% extends "blogApp/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "user/password_reset_user.css" %}">
{% endblock  %}
{% block content %}  

    <div class="form_password">   
        <h3>Mot de passe</h3>
        <p>Vous pouvez modifier vtre mot de passe pour vos futures Connexion</p>

        <form method='post'>
            <label>Mot de passe actuel</label>
            <input type='password'>

            <label>Nouveau mot de passe</label>
            <input type='password'>

            <label>Confirmation du nouveau mot de passe</label>
            <input type='password'>

            <input type='submit' >
        </form>

    </div>
    <div></div>

{% endblock  %}