{% extends "base_user.html" %}
{%load static%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "user/register.css" %}">
{% endblock  %}
{% block content %}
    <div class="form_style">
        <div class="form_style2">
            <a class="logo" href="{% url 'blogApp:accueil' %}">
                <img src="{% static 'blogApp/image/logo.png' %}" alt="logo"> 
            </a>
            <div class="form_card">
                <h2> Inscription </h2>
                <form action="" method="post">
                    {%csrf_token%}
                    <div class="form_field">
                        {{form.email.label_tag}}
                        {{form.email}}
                        
                    </div>
                    <div class="form_field">
                        {{form.username.label_tag}}
                        {{form.username}}
                    </div>
                    <div class="form_field">
                        {{form.password1.label_tag}}
                        {{form.password1}}
                    </div>
                    <div class="form_field">
                        {{form.password2.label_tag}}
                        {{form.password2}}
                    </div>   
                    <button type="submit">S'nscription</button>
                </form>
            </div> 
        </div>
        
    </div> 

    <div></div>
    
{% endblock  %}
