body{
    background-color: white;
}
ul, li{
    list-style: none;
    text-decoration: none;
    margin: auto;
}
header{
    width: 63%;
    margin: auto;
    margin-top: 25px;
}
.nav_bar, .nav_links{
    display: flex;
}
.nav_bar, .nav_links{
    justify-content: space-between;
    align-items: center;
}
.logo img, .profil_image {
    width: 30px;
    height: 30px;
}
.search{
    background-color:rgb(218, 221, 222) ;
    box-shadow: 0px 0.5px 0px black;
    border-radius: 5px;
    padding: 5px;
}
.button_search{
    background-color:rgb(68, 117, 171);
    border-radius: 5px;
    padding: 5px;
}
.nav_bar .gestion{
    position: relative;
}
.nav_links li  a{
    margin: 0px 14px;
    list-style: none;
    text-decoration: none;
}
.drop_down{
    display: none;
    position: absolute;
    z-index: 2;
    width: 140px;
    height: auto;
    box-shadow: 1px 1px 5px rgb(15, 15, 15);
    right: 5px;
    top: 30px;
    background-color: white;
    border-radius: 10px;
}
.drop_down li{
    margin: 6px 10px;
    color: rgb(30, 126, 9);
}
.drop_down.disp{
    display: block;
}

.list_article{
    width: 65%;
    margin: auto;
}
.article{
    width: 96%;
    border-bottom: 1px rgb(13, 13, 13) dotted;
    margin: auto;
    padding: 40px 0px;    
    background-color: white;
    display: flex;
    justify-content: space-between;

}