.info_article{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.image{
    width: 30%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*   Permet à l'image de couvrir son conteneur  */ 
}
.categorie a{
    color: black;
}
.etiquette{
    color: white;
    background-color: rgb(40, 234, 156);
    padding: 2px 8px 4px 8px;
    border-radius: 15px;
}
.etiquette a, .article_lire_plus a{
    text-decoration: none;
}
.article_lire_plus a{
    color: aliceblue;
    background-color: rgb(16, 16, 16);
    padding: 10px 20px 15px 20px;
    border-radius: 10px;
}
.article_lire_plus{
    margin-bottom: 20px;
}